* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.roomContainer {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.room {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    transition: transform ease-out 0.2s;
    box-shadow: 0 6px 8px 0px #ccc;
    border-radius: 25px;
    font-size: 20px;
    margin: 0 20px 30px 20px;
}
.room:hover {
    transform: scale(1.1);
}
.room img {
    width: 100%;
}
.room h4 {
    padding: 8px;
}

.data {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 2vw;
    align-items: center;
}
.data i {
    margin-right: 4px;
}